.header {
  grid-row: 1/2;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.header__info {
  display: grid;
  grid-template-rows: 75px;
  grid-template-columns: 150px 740px;
  column-gap: 400px;
}

.header__info__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__info__navbar {
  display: grid;
  grid-template-rows: 75px;
  grid-template-columns: 575px 135px;
  column-gap: 30px;
}

.header__info__navbar__items {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__info__navbar__adds {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
