button {
  font-weight: 800;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  outline: none;
}

button.btn--header {
  font-size: 13px;
  line-height: 16px;
  padding: 10px 22px;
  background-color: #FF9100;
  border-radius: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
}

button.btn--orange {
  font-size: 16px;
  line-height: 20px;
  padding: 14px 32px;
  background-color: #FF9100;
  border-radius: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
}

button.btn--white {
  color: #FF9100;
  font-size: 14px;
  line-height: 16px;
  padding: 14px 32px;
  background-color: #FFFFFF;
  border-radius: 100px;
  border: 1px solid #FF9100;
}
