.card--course
{
    display: grid;
    grid-template-columns: min-content 1fr;
    &__logo 
    {
        grid-column: 1/2;
    }
    &__info
    {
        height: fit-content;
        margin: 0 0 0 30px;
        grid-column: 2/3;

        &__head
        {
            margin: 0;
        }
    }
}

.card--trainers
{
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 25px;

    &__logo
    {
        grid-row: 1/2;
        margin: 0;
        margin-top: 55px;
    }

    &__info
    {
        grid-row: 2/3;
        text-align: center;
    }
}