/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  min-height: 100vh;
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html,
* {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.content-container {
  max-width: 1290px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h4 {
  margin: 0;
}

h4.main__add--orange {
  font-weight: bold;
  color: #FF9100;
}

h4.card--course__info__names {
  font-weight: bold;
  color: #41BEAD;
}

h4.main__header--add__heading {
  font-weight: 600;
  color: #41BEAD;
}

h3.main__info__container__text__heading {
  color: #41BEAD;
  margin: 0;
  padding-bottom: 20px;
}

h2.card--course__info__head {
  color: #565656;
}

h2.main__header--white__heading--w, h2.main__header--white__heading--p {
  color: #41BEAD;
  margin: 0;
  text-align: center;
}

h1 {
  color: #FFFFFF;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h1 {
  line-height: 44px;
}

h2 {
  line-height: 36px;
}

h3 {
  line-height: 30px;
}

h4 {
  line-height: 24px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

p.regular {
  color: #565656;
}

p.regular--white {
  color: #FFFFFF;
}

p.card--course__info__function {
  font-weight: 500;
  color: #B2B2B2;
  padding: 10px 0;
  margin: 0;
}

p.regular--orange {
  color: #FF9100;
}

p.regular--bold {
  color: #565656;
  font-weight: bold;
}

p.footer__info__navbar__items__header {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 65px;
  margin-bottom: 16px;
  width: fit-content;
}

p.footer__item--rights {
  line-height: 19px;
  color: #919191;
  margin: 0;
}

p.main__header__label {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
}

p.card--course__uppercase {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #565656;
  margin: 0;
  padding-bottom: 12px;
}

p.main__add--bold {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #565656;
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
}

button {
  font-weight: 800;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  outline: none;
}

button.btn--header {
  font-size: 13px;
  line-height: 16px;
  padding: 10px 22px;
  background-color: #FF9100;
  border-radius: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
}

button.btn--orange {
  font-size: 16px;
  line-height: 20px;
  padding: 14px 32px;
  background-color: #FF9100;
  border-radius: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
}

button.btn--white {
  color: #FF9100;
  font-size: 14px;
  line-height: 16px;
  padding: 14px 32px;
  background-color: #FFFFFF;
  border-radius: 100px;
  border: 1px solid #FF9100;
}

a {
  text-decoration: none;
}

a.header__info__navbar__link {
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #565656;
}

a.header__info__navbar__link:hover {
  cursor: pointer;
  color: #FF9100;
}

a.footer__info__navbar__link {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  text-transform: capitalize;
  color: #E6E6E6;
}

a.footer__info__navbar__link:hover {
  cursor: pointer;
  color: #41BEAD;
}

li {
  list-style: none;
}

li.main__add__container__navbar__item {
  display: grid;
  grid-template-columns: 35px 125px;
  column-gap: 24px;
}

li.main__add__container__navbar__item__logo {
  grid-column: 1/2;
  height: fit-content;
  align-items: center;
}

li.main__add__container__navbar__item__info {
  grid-column: 2/3;
  align-items: center;
}

li.footer__info__navbar__item {
  display: flex;
  flex-flow: column wrap;
  width: fit-content;
  margin-bottom: 12px;
  margin-right: 25px;
}

li.footer__info__navbar__item--social {
  display: flex;
  flex-flow: row wrap;
  width: 90px;
  margin-top: 12px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.card--course {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.card--course__logo {
  grid-column: 1/2;
}

.card--course__info {
  height: fit-content;
  margin: 0 0 0 30px;
  grid-column: 2/3;
}

.card--course__info__head {
  margin: 0;
}

.card--trainers {
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 25px;
}

.card--trainers__logo {
  grid-row: 1/2;
  margin: 0;
  margin-top: 55px;
}

.card--trainers__info {
  grid-row: 2/3;
  text-align: center;
}

select {
  box-sizing: border-box;
  border-radius: 6px;
  /* &:hover {
        cursor: pointer;
    }
    
    &::placeholder {
        color: #919191;
    } */
}

select.select--yellow {
  width: 675px;
  height: 50px;
  background-color: #FFFFFF;
  color: #565656;
  padding-left: 15px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}

img {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.course-main {
  display: grid;
  grid-template-rows: 245px 55px 55px 415px 325px 555px 425px 480px;
}

.course-main .main__header--blue {
  grid-row: 1/3;
  background-color: #44A9F8;
  z-index: 1;
}

.course-main .main__header--blue .main__header__label {
  margin: auto;
  margin-top: 65px;
  margin-bottom: 25px;
  padding: 4px 8px;
  background-color: #FFC20A;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: fit-content;
}

.course-main .main__header--blue .main__header__heading {
  margin: auto;
  margin-bottom: 105px;
  padding: 0 320px;
  text-align: center;
}

.course-main .main__add {
  margin: 0 auto;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-image: url("../../assets/images/Subtract.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  left: 0;
  top: -2310px;
  z-index: 2;
}

.course-main .main__add__container {
  height: 100%;
  display: grid;
  grid-template-columns: 290px 990px;
  column-gap: 10px;
}

.course-main .main__add__container__button {
  margin: 32px auto;
  grid-column: 1/2;
}

.course-main .main__add__container__navbar {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 110px;
  grid-template-columns: 210px 210px 210px 210px;
  margin-left: 60px;
}

.course-main .main__add__container__navbar__items {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.course-main .main__info {
  grid-row: 3/5;
  z-index: 1;
}

.course-main .main__info__container {
  display: grid;
  grid-template-columns: 740px 440px;
  column-gap: 110px;
}

.course-main .main__info__container__text {
  align-items: center;
  margin-top: 135px;
}

.course-main .main__info__container__picture--first {
  width: 440px;
  height: 250px;
  position: relative;
  top: 190px;
  left: 0;
  z-index: 1;
}

.course-main .main__info__container__picture--second {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  position: relative;
  top: 40px;
  left: 20px;
  z-index: 2;
}

.course-main .main__cards__first {
  grid-row: 5/6;
}

.course-main .main__cards__first__container {
  margin-top: 80px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 520px 10px 520px;
  justify-content: space-between;
}

.course-main .main__cards__second--yellow {
  grid-row: 6/7;
  background-color: #FFCB29;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.course-main .main__cards__second--yellow .main__cards__second__container--yellow {
  display: grid;
  grid-template-columns: 740px 415px;
  column-gap: 135px;
  align-items: flex-start;
  margin-top: 60px;
}

.course-main .main__cards__second--yellow .main__cards__second__container--yellow__picture {
  height: fit-content;
  align-items: flex-start;
  margin-top: 160px;
}

.course-main .main__cards__second--white {
  grid-row: 7/8;
}

.course-main .main__cards__second--white .main__cards__second__container--white {
  display: grid;
  grid-template-columns: 610px 415px;
  column-gap: 240px;
  align-items: flex-start;
  margin-top: 140px;
}

.course-main .main__cards__second--white .main__cards__second__container--white__picture {
  height: fit-content;
  align-items: flex-start;
  margin-top: -80px;
}

.course-main .main__cards__first--add {
  grid-row: 8/9;
}

.course-main .main__cards__first--add__container {
  align-items: flex-start;
  max-width: 100%;
  display: grid;
  grid-template-columns: 610px 10px 610px;
  justify-content: space-between;
}

.trainers-main {
  display: grid;
  grid-template-rows: 255px 550px 1475px 410px;
}

.trainers-main .main__header--orange {
  grid-row: 1/2;
  background-color: #FFB402;
}

.trainers-main .main__cards__trainers {
  grid-row: 2/3;
}

.trainers-main .main__cards__trainers__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  column-gap: 30px;
  margin-top: 95px;
  margin-bottom: 95px;
}

.trainers-main .main__cards__trainers__all {
  grid-row: 3/4;
}

.trainers-main .main__cards__trainers__all__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 330px 330px 330px 330px;
  margin-top: 50px;
  margin-bottom: 125px;
  justify-items: center;
}

.trainers-main .main__header--lightblue {
  grid-row: 4/5;
  background-color: #66B9F8;
  border-top: 10px solid #92CDFB;
}

.trainers-main .main__header--lightblue__form {
  margin-left: 170px;
  margin-top: 30px;
  margin-bottom: 125px;
  display: grid;
  grid-template-columns: 230px 230px 230px 170px;
  grid-template-rows: 50px;
  column-gap: 30px;
  justify-items: center;
}

.trainers-main .main__header__heading {
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 25px;
  text-align: center;
}

.trainers-main .regular--white {
  margin: 0 220px;
  text-align: center;
}

.contacts-main {
  display: grid;
  grid-template-rows: 425px 685px 570px;
}

.contacts-main .main__header--map {
  grid-row: 1/2;
}

.contacts-main .main__header--map img {
  height: 100%;
  width: 100%;
}

.contacts-main .main__header--add {
  width: 520px;
  height: 380px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: absolute;
  left: 75px;
  top: 200px;
  z-index: 2;
}

.contacts-main .main__header--add__container {
  margin: 30px;
  display: grid;
  grid-template-columns: 215px 215px;
  column-gap: 25px;
  grid-template-rows: 130px 95px 45px;
  row-gap: 30px;
}

.contacts-main .main__header--add__container--first {
  grid-row: 1/2;
  grid-column: 1/2;
}

.contacts-main .main__header--add__container--second {
  grid-row: 1/2;
  grid-column: 2/3;
}

.contacts-main .main__header--add__container--second__container {
  display: flex;
  flex-flow: column wrap;
  height: 65px;
}

.contacts-main .main__header--add__container--second__container .regular {
  margin-left: 25px;
  display: flex;
  flex-flow: row wrap;
  width: 105px;
}

.contacts-main .main__header--add__container--third {
  grid-row: 2/3;
  grid-column: 1/2;
}

.contacts-main .main__header--add__container--button {
  grid-row: 3/4;
  grid-column: 1/4;
  margin: 0 auto;
}

.contacts-main .main__header--white {
  grid-row: 2/3;
}

.contacts-main .main__header--white .main__header--white__heading--w {
  padding-top: 180px;
  padding-bottom: 30px;
}

.contacts-main .main__header--white__container {
  width: 850px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 50px 190px 50px;
  row-gap: 30px;
}

.contacts-main .main__header--white__container__form--small {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 410px 410px;
  column-gap: 30px;
}

.contacts-main .main__header--white__container__form--big {
  grid-row: 2/3;
  width: 100%;
  height: 100%;
}

.contacts-main .main__header--white__container__button {
  grid-row: 3/4;
  justify-items: flex-start;
}

.contacts-main .main__info {
  grid-row: 3/4;
  background-color: #FFF8E1;
}

.contacts-main .main__info .main__header--white__heading--p {
  padding-top: 95px;
  padding-bottom: 45px;
}

.contacts-main .main__info__container {
  margin: 0 auto;
  height: 395px;
  display: grid;
  grid-template-columns: 410px 410px 410px;
  column-gap: 30px;
}

.main__header--lightblue__form__label {
  margin: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  display: block;
}

.main__header--lightblue__form__label__input {
  height: fit-content;
  width: fit-content;
  border: none;
  outline: none;
  background-color: #66B9F8;
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 19px;
  padding: 23px 15px;
}

.main__header--white__form__label {
  margin: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #919191;
  border-radius: 6px;
  display: block;
}

.main__header--white__form__label__input {
  height: fit-content;
  width: fit-content;
  border: none;
  outline: none;
  color: #919191;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 19px;
  padding: 23px 15px;
}

.header {
  grid-row: 1/2;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.header__info {
  display: grid;
  grid-template-rows: 75px;
  grid-template-columns: 150px 740px;
  column-gap: 400px;
}

.header__info__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__info__navbar {
  display: grid;
  grid-template-rows: 75px;
  grid-template-columns: 575px 135px;
  column-gap: 30px;
}

.header__info__navbar__items {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__info__navbar__adds {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  grid-row: 3/4;
  background-color: #565656;
  border-top: 10px solid #919191;
}

.footer__info {
  display: grid;
  grid-template-rows: 325px;
  grid-template-columns: 220px 990px;
  column-gap: 75px;
}

.footer__info__picture {
  position: relative;
  left: 0px;
  top: -80px;
}

.footer__info__navbar {
  display: grid;
  grid-template-columns: 255px 155px 180px 180px;
  justify-content: space-between;
}

.footer__info__navbar__items {
  padding: 0;
  margin: 0;
}

.footer__info__navbar__items__container {
  display: flex;
  flex-flow: column wrap;
  height: 160px;
}

.footer {
  grid-row: 3/4;
  background-color: #565656;
  border-top: 10px solid #919191;
}

.footer__info {
  display: grid;
  grid-template-rows: 325px;
  grid-template-columns: 220px 990px;
  column-gap: 75px;
}

.footer__info__picture {
  position: relative;
  left: 0px;
  top: -80px;
}

.footer__info__navbar {
  display: grid;
  grid-template-columns: 255px 155px 180px 180px;
  justify-content: space-between;
}

.footer__info__navbar__items {
  padding: 0;
  margin: 0;
}

.footer__info__navbar__items__container {
  display: flex;
  flex-flow: column wrap;
  height: 160px;
}
